* {
  box-sizing: border-box;
  list-style: none;
}

:root {
  --accent-color: #ce1212;
  --hover-accent-color: #810000;
  --sub-text-color: #1b1717a6;
  --main-text-color: #1b1717;

  --gap: 10px;

  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 36px;
  --font-xl: 48px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Vazirmatn", sans-serif;
  text-align: right;
}

h1,
h2 {
  font-family: "Lalezar", sans-serif;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 345px;
  margin-right: auto;
  margin-left: auto;
}

/* header */
header {
  padding: 30px 0 30px 0;
  text-align: center;
}

header img {
  width: 45px;
  height: 30px;
}

/* hero */
.hero-wrapper {
  margin-bottom: 60px;
}

.hero-wrapper .hero-image {
  display: none;
}

.hero-clients {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
  gap: var(--gap);
}

.client-nums {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  font-size: var(--font-sm);
}

.client-images {
  display: flex;
}

.client-images li {
  margin-right: -10px;
}

.client-nums .number {
  font-weight: 700;
  color: var(--main-text-color);
}

.client-nums .num-text {
  color: var(--sub-text-color);
}

.hero-title {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.hero-subtitle {
  font-size: var(--font-sm);
  color: var(--sub-text-color);
  margin-bottom: 10px;
}

.hero-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.hero-btns a {
  text-decoration: none;
  font-size: var(--font-sm);
  text-align: center;
}

.call-clients {
  color: var(--sub-text-color);
  width: fit-content;
  border: solid 1px var(--sub-text-color);
  border-radius: 35px;
  padding: 8px 32px;
}

.call-clients:hover {
  color: var(--main-text-color);
  border: solid 1px var(--main-text-color);
}

.online-order {
  display: flex;
  width: fit-content;
  flex-direction: row-reverse;
  gap: var(--gap);
  align-items: center;
  padding: 8px 32px;
  color: white;
  background-color: var(--accent-color);
  border-radius: 35px;
}

.online-order:hover {
  background-color: var(--hover-accent-color);
}

@media (width > 393px) {
  .container {
    width: 1140px;
  }

  header img {
    width: 90px;
    height: 60px;
  }

  .hero-wrapper .hero-image {
    display: block;
    filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.5));
  }

  .hero-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero-description {
    padding: 82px 70px 82px 0;
  }

  .hero-title {
    font-size: 64px;
  }

  .hero-subtitle {
    width: 450px;
    justify-self: end;
  }

  .hero-btns {
    flex-direction: row;
    justify-content: flex-end;
  }
}

/* country */
.country-wrapper {
  margin-bottom: 60px;
}

.colorful {
  visibility: hidden;
}

.country-wrapper p {
  font-size: var(--font-md);
  font-weight: 500;
  margin-bottom: 10px;
}

.country-wrapper ul {
  display: flex;
  gap: 25px;
  font-size: var(--font-sm);
}

.country-wrapper ul li p {
  color: var(--sub-text-color);
  margin-top: 10px;
}

@media (width > 393px) {
  .country-wrapper {
    text-align: center;
  }

  .country-wrapper ul {
    justify-content: center;
    gap: 51px;
  }

  .country-item:hover .colorful {
    visibility: visible;
  }
}

/* suggestion */
.suggestion-wrapper {
  margin-bottom: 40px;
}

.suggestion-title {
  font-size: var(--font-lg);
  margin-bottom: 20px;
}

.suggestion-subtitle {
  font-size: var(--font-sm);
  color: var(--sub-text-color);
  font-weight: 400;
}

.suggestion-shoes {
  text-align: center;
  padding-top: 25px;
}

.suggestion-shoes ul li {
  margin-bottom: 25px;
}

.suggestion-shoes ul li h3 {
  font-size: var(--font-md);
  margin-top: 15px;
  font-weight: 500;
}

.suggestion-shoes ul li p {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--sub-text-color);
}

.suggestion-wrapper a {
  text-decoration: none;
  color: var(--sub-text-color);
  border: solid 1px var(--sub-text-color);
  padding: 8px 32px;
  border-radius: 35px;
  margin-top: 10px;
}

.suggestion-wrapper a:hover {
  border: solid 1px var(--main-text-color);
  color: var(--main-text-color);
}

.suggestion-shoes ul li:nth-child(n + 5) {
  display: none;
}

@media (width > 393px) {
  .suggestion-title {
    font-size: var(--font-xl);
  }

  .suggestion-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .suggestion-list li img {
    width: 266.25px;
  }

  .suggestion-shoes ul li:nth-child(n + 5) {
    display: block;
  }
}
